<ion-header>
  <ion-toolbar>
    <ion-title>Llamada entrante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-avatar *ngIf="callData?.image" style="width: 60px; height: 60px; margin: 0 auto 10px;">
        <img [src]="callData.image">
      </ion-avatar>
      <ion-icon *ngIf="!callData?.image" name="person-circle" size="large"></ion-icon>
      <ion-card-title>{{ callData?.name }} te está llamando</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <ion-button expand="block" color="success" (click)="acceptCall()" style="margin-bottom: 10px;">
        <ion-icon slot="start" name="call"></ion-icon>
        Aceptar
      </ion-button>
      <ion-button expand="block" color="danger" (click)="rejectCall()">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        Rechazar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
