<ion-header>
  <ion-toolbar>
    <ion-title>Contactos</ion-title>
    <ion-buttons slot="end">

      <ion-button [routerLink]="['/add-contacto']">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">

  <div class="ion-text-center" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>


  <ion-text color="danger" *ngIf="error">
    <p class="ion-text-center">{{ error }}</p>
  </ion-text>


  <ion-list *ngIf="!loading && contacts.length > 0">
    <ion-item *ngFor="let contact of contacts">
      <ion-avatar slot="start" *ngIf="contact.photoURL">
        <img [src]="contact.photoURL" alt="Avatar" />
      </ion-avatar>

      <ion-label>
        <h2>{{ contact.name || 'Sin nombre' }}</h2>
        <p>{{ contact.phoneNumber }}</p>
        <p *ngIf="contact.email">{{ contact.email }}</p>
      </ion-label>

      <ion-button fill="outline" slot="end">Ver</ion-button>
    </ion-item>
  </ion-list>


  <div class="ion-text-center" *ngIf="!loading && contacts.length === 0">
    <ion-text color="medium">
      <p>No hay contactos disponibles.</p>
    </ion-text>
  </div>


